 .jobs-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .jobs-boxes {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .jobs {
      padding-bottom: 94px;
      color: $additional-text-color;
    }
  
    .jobs-box {
      position: relative;
      overflow: hidden;

      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
    }
  
    .jobs-overlay {
      width: 100%;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .jobs-overlay-text {
      font-weight: 700;
      color: $additional-text-color;
      text-transform: uppercase;
    }
  
    .desktop:hover .jobs-overlay,
    .desktop:focus .jobs-overlay {
      transform: translateY(-100%);
    }
  
    .mobile:hover .jobs-overlay,
    .mobile:focus .jobs-overlay {
      transform: translateY(-100%);
    }
  
    .design:hover .jobs-overlay,
    .design:focus .jobs-overlay {
      transform: translateY(-100%);
    }

    @media screen and (min-width: 480px) and (max-width:767px) {

      .jobs {
        display: none;
      }

    }

    @media screen and (min-width:768px) and (max-width:1200px) {
    
      .jobs {
        display: none;
      }

    }