.modal-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    transition: 500ms linear;

    &> .modal-window {
        transform: scale(1) translate(-50%, -50%);
        transition: transform 250ms linear;
      }

    &.is-hidden > .modal-window {
        transform: scale(0);
        transition: transform 250ms linear; 
      }
  }

.is-hidden {
    opacity: 0;
    pointer-events: unset;
    visibility: hidden;

    .modal-window {
        background-color: rgba(0, 0, 0, 0.2);
      }
  }

.modal-window {
    width: 528px;
    height: 581px;
    padding: 40px 40px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: 500ms linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

.modal-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #000;
    background-color: #fff;
  }

  .close-icon {
    fill: currentColor;
  }

  .modal-close:hover,
  .modal-close:focus {
    border-radius: 50%;
    background-color: $additional-text-color;
    color: $accent-color;
    outline: none;
  }

  .modal-form-title {
    text-align: center;
    margin: 0px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.14;
    color: #212121;
  }

  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;

    &:focus,
  &:hover {
    border-color: $accent-color;
  }

  &:hover~.form-icon, 
  &:focus~.form-icon {
    color: $accent-color;
}
  }

  .modal-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    font-family: roboto, sans-serif;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    outline: none;

    &:focus,
  &:hover {
    border-color: $accent-color;
  }
  }

  .modal-form-btn {
    color: $additional-text-color;
    background-color: $accent-color;
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
  }

  .modal-form-box {
    margin-bottom: 10px;
    position: relative;
  }

  .modal-form-comment-container {
    margin-bottom: 20px;
  }

  .modal-form-checkbox {
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;
  }

  .modal-form-label-check {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
  }

  .modal-form-label-check::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    border: 1px solid #212121;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
  }

  .checkbox:checked ~ .modal-form-label-check::before {
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $accent-color;
  }

  label {
    color: #757575;
  }

  .man {
    position: absolute;
    top: 36%;
    left: 4%;
  }

  .phone {
    position: absolute;
    top: 34%;
    left: 4%;
  }

  .mail {
    position: absolute;
    top: 32%;
    left: 4%;
  }

  .form-icon {
    fill: currentColor;
  }

  @media screen and (min-width:480px) and (max-width:767px) {

    .modal-window {
      width: 450px;
      height: 609px;
      padding: 40px 40px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 6%;
      border-radius: 4px;
      
      transition: 500ms linear;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  
  .modal-close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 8px;
      right: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #000;
      background-color: #fff;
    }

    .modal-back {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      position: fixed;
      left: 0;
      top: 0;
      transition: 500ms linear;
  
      &> .modal-window {
          transform: scale(1); transform: translate(-50%, 0%);
          transition: transform 250ms linear;
        }
  
      &.is-hidden > .modal-window {
          transform: scale(0);
          transition: transform 250ms linear; 
        }
    }

    .modal-form-label-check {
      font-size: 12px;
      line-height: 1.71;
      color: #757575;
      letter-spacing: 0.03em;
    }

  }