.filter-btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 94px 15px 0;
  }
  
  .filter-btn-box:not(:first-child) {
    margin-left: 8px;
  }
  
  .filter-btn {
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  
  .filters {
      padding-top: 94px;
      padding-bottom: 34px;
      min-width: 1200px;
  }
  
  .gallery-container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }
  
  .gallery {
    padding-bottom: 94px;
  }
  
    .gallery-type {
      margin-bottom: 20px;
    }
  
  h3 {
    color: $secondary-text-color;
    margin-top: 20px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .gallery-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 15px 0;
  }
  
  .gallery-box {
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .gallery-box:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  
  .gallery-box:not(:nth-child(3n)) {
   margin-right: 30px;
  } 
  
  .gallery-text-box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
  }
  
  img {
    display: block;
  }
  
    button {
      background-color: $button-background;
      border: 0px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.03em;
    }
    
    button:hover,
    button:focus {
      color: $additional-text-color;
      background-color: $accent-color;
      border-radius: 4px;
    }
    
    .gallery-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: 0.03em;
    }
    
    .gallery-type {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.03em;
    }
  
    .gallery-box:hover,
    .gallery-box:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  
    .gallery-overlay-text {
      font-weight: 400;
      color: $additional-text-color;
      max-width: 322px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      font-size: 18px;
    }
  
    .gallery-overlay-text-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(33, 150, 243, 0.9);
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .gallery-box:hover .gallery-overlay-text-box,
    .gallery-box:focus .gallery-overlay-text-box {
      transform: translateY(-100%)
    }
  
    .gallery-overlay-box {
      position: relative;
      overflow: hidden;
      max-width: 370px;
      max-height: 294px;
    }

    @media screen and (min-width: 480px) and (max-width:767px) {

      .gallery {
        padding: 60px 15px;

        .gallery-box {
          width: 450px;
        }
      }

      .filter-btns {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        margin: 0 auto;
        align-content: space-between;
        padding: 0;
        padding-right: 20px;
        max-width: 450px;
        
        .filter-btn-box:nth-child(4n) {
          margin-left: 0;
        }

        .filter-btn-box:not(:nth-child(-n + 3)) {
          margin-top: 15px;
        }
      }

      .gallery-boxes {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 40px;

        .gallery-box:not(:last-child) {
          margin: 0;
          margin-bottom: 30px;
        }
      }

    }