.team-boxes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .team-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;

    &:not(:last-child) {
        margin-right: 23px;
      }
  }
  
  .dev-footer {
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team {
      padding: 94px 0px;
      background-color: #F5F4FA;
    }
  
    .dev {
      text-align: center;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;
    }
  
    .dev-name {
      text-align: center;
      color: $secondary-text-color;
      margin-bottom: 10px;
      margin-top: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;
    }
  
    .social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      color: #afb1b8;
      background-color: #FFFFFF;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: $accent-color;
        color: #ffffff;
    }
  }
    
    .social-link-icon {
      width: 20px;
      height: 20px;
      fill: currentColor;

      &:hover .social-link,
    &:focus .social-link {
      background-color: $accent-color;
    }
  }
  
    .social-links {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      margin-top: 16px;
    }
  
    .social-links-item:not(:first-child) {
      margin-left: 10px;
    }

    @media screen and (min-width: 480px) and (max-width:767px) {
      
      .team .container {
        padding: 0;
      }

      .team-boxes {
        flex-direction: column;

        .team-box {
          min-width: 450px;

          &:not(:last-child) {
            margin-bottom: 60px;
          }

          .dev-photo {
            width: 450px;
            margin: 0 auto;
          }
          
        }
      }

    }

    @media screen and (min-width:768px) and (max-width:1200px) {
    
      .team-boxes {
        flex-wrap: wrap;
        justify-content: start;

        .team-box {
          width: 354px;
          margin: 0;

          .dev-photo {
            width: 354px;
            margin: 0 auto;
          }
          
        }
      }

      .team {
        padding: 60px 15px;
      }

      .team-box:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    .team-box:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    
    }